{% trans_default_domain 'FOSUserBundle' %}

{% extends "base.html.twig" %}

{% block body %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Perfil do Usuário</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="fos_user_user_show">
                        {% for msg in app.session.flashBag.get('success') %}
                        {% endfor %}
                        <p><b>{{ 'profile.show.username'|trans }}</b>: {{ user.username }}</p>
                        <p><b>{{ 'profile.show.email'|trans }}</b>: {{ user.email }}</p>
                        <br/>
                        <p><a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-block">Alterar senha</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
{% endblock body %}
