{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #radarMap {
            height: 700px;
        }
        #legend {
            font-family: Arial, sans-serif;
            background: #fff;
            padding: 10px;
            margin: 10px;
            border: 3px solid #000;
        }
        #legend h3 {
            margin-top: 0;
        }
        #legend img {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block title %}Mapa - {{ parent() }}{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Mapa</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-xs-12">
                    <div id="radarMap">Carregando mapa...</div>
                    <div id="legend"><h3>Legenda</h3></div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('radarMap'), {
                zoom: 13,
                center: {lat: -22.3176761, lng: -49.0691349}
            });

            var icons = {
                faltaDagua: {
                    name: 'Falta D\'agua',
                    image: '{{ absolute_url(asset('map/semaguamedio.png')) }}'
                },
                vazamento: {
                    name: 'Vazamento',
                    image: '{{ absolute_url(asset('map/vazamentomedio.png')) }}'
                },
                manutencao: {
                    name: 'Manutenção',
                    image: '{{ absolute_url(asset('map/manutencaomedio.png')) }}'
                }
            };

            {% for marker in notificationMarkers %}
                var newValue = new google.maps.Marker({
                    position: { lat: {{ marker.latitude }}, lng: {{ marker.longitude }} },
                    map: map,
                    icon: {{ (marker.type == 0) ? 'icons.vazamento.image' : 'icons.faltaDagua.image' }},
                    title: '{{ marker.address }}',
                    type: '{{ (marker.type == 0) ? 'vazamento' : 'faltaDagua' }}'
                });
            {% endfor %}
            {% for marker in maintenanceMarkers %}
                var newValue = new google.maps.Marker({
                    position: { lat: {{ marker.latitude }}, lng: {{ marker.longitude }} },
                    map: map,
                    icon: icons.manutencao.image,
                    type: 'manutencao'
                });
            {% endfor %}
            
            
            var legend = document.getElementById('legend');
            for (var key in icons) {
                var type = icons[key];
                var name = type.name;
                var icon = type.image;
                var div = document.createElement('div');
                div.innerHTML = '<img src="' + icon + '"> ' + name;
                legend.appendChild(div);
            }

            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{gmap_key}}&callback=initMap">
    </script>
{% endblock body %}
